{% extends "coreApp/base.html" %}
{% load static%}

{% block page_header%}
<style>
    
      
</style>

{%endblock page_header%}

{% block content %}


    <div class="container p-5 my-2 border bg-white d-flex justify-content-center align-items-center" style="max-width: 40rem;">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-center bg-dark text-white">
                    <h1>Login to TOTTMS</h1>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form }}
                        <br></br>
                        <div class=" d-flex justify-content-center align-items-center">
                            <button type="submit" class="btn btn-primary">Login</button>
                        </div>
                        
                        <div class="mb-3">
                            <span class="text-muted">Don't have an account? </span>
                            <a href="/user/signup" class="text-decoration-none">Sign up</a> |
                            <span class="text-muted">Forgot password? </span>
                            <a href="/reset-password" class="text-decoration-none">Reset password</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


{% endblock %}


