{% extends "coreApp/base.html" %}
{% load static%}

{% block page_header%}
<style>
    .bglogin {
        {% comment %} background-image: url("{% static 'images/Transfers.jpg' %}"); {% endcomment %}
        background-color: #fff;
        background-size: cover;
        background-position: center;
        height: 500px;
       
    } 
      
</style>

{%endblock page_header%}

{% block content %}
<div class="bglogin">
<div class="container p-5 my-5 border">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-center bg-dark text-white">
                    <h1>Login to TOTTMS</h1>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form }}
                        <button type="submit" class="btn btn-primary">Login</button>
                        <div class="mb-3">
                            <span class="text-muted">Don't have an account? </span>
                            <a href="/signup" class="text-decoration-none">Sign up</a> |
                            <span class="text-muted">Forgot password? </span>
                            <a href="/reset-password" class="text-decoration-none">Reset password</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}


