{% extends "coreApp/base.html" %}
{% block page_header%}
{% include 'coreApp/navbar.html'%}
{%endblock page_header%}
{% load bootstrap_icons %}
{% block content %}
<div class="container p-5 my-5 border bg-white">
              <div class = 'row'>
                  <div class = 'col-md-4'>
                       <img src="{{ user.teacherprofile.image.url }}" alt="Profile Picture" class="rounded-circle" width="150" height="150">
                       
                  </div>
                  <div class = 'col-md-6' >
                       <h2>Welcome to your profile {{ user.username }}</h2>
                       <p>{{ greeting }}</p>
                    
                  </div>
                
              </div>
   
        
    {% include 'userApp/teacher.html'%}

    {% if is_teacher %}
         {% include 'userApp/teacher.html'%}
    {% elif is_education_officer %}
         {% include 'userApp/officer.html'%}
    {% elif is_district_officer %}
         {% include 'userApp/ded.html'%}
    {% elif is_tamisemi %}
         {% include 'userApp/tamisemi.html'%}
    {% elif is_utumishi %}
         {% include 'userApp/utumishi.html'%}
    {% endif %}
</div>
{% endblock %}
