<!-- userApp/templates/userApp/signup.html -->
{% extends "coreApp/base.html" %}
{% block page_header%}
<style>
      
</style>

{%endblock page_header%}

{% block content %}

<div class="container p-5 my-2 border bg-white  justify-content-center align-items-center" style="max-width: 40rem;">
        <div class="card-header text-center bg-dark text-white">
            <h1>Signup to TOTTMS</h1>
        </div>
    <div class= "card-body">
            <form method="post" class="mt-3">
                {% csrf_token %}
                {{ form.as_p }}
              
                        <div class=" d-flex justify-content-center align-items-center">
                            <button type="submit" class="btn btn-primary">Search</button>
                        </div>
                
                        <div class="mb-3">
                            <span class="text-muted">Already have an account? </span>
                            <a href="/user/login" class="text-decoration-none">Login</a> |
                            <span class="text-muted">Forgot password? </span>
                            <a href="/reset-password" class="text-decoration-none">Reset password</a>
                        </div>
            </form>
    </div> 
</div>

{% endblock %}
